{% set identifier = "{}-{}".format(model, app) %}
{% set public_svc = "http://{}.{}.svc.cluster.local:{}".format(app, model, port) %}
{
    "http":{
        "routers":{
            "juju-{{ identifier }}-public-api-router-saml":{
                "entryPoints":[
                    "web"
                ],
                "rule":"PathPrefix(`/saml`)",
                "service":"juju-{{ identifier }}-public-api-service"
            },
            "juju-{{ identifier }}-public-api-router-saml-tls":{
                "entryPoints":[
                    "websecure"
                ],
                "rule":"PathPrefix(`/saml`)",
                "service":"juju-{{ identifier }}-public-api-service",
                "tls":{
                    "domains":[
                        {
                            "main":"{{ external_host }}",
                            "sans":[
                                "*.{{ external_host }}"
                            ]
                        }
                    ]
                }
            }
        },
        "services":{
            "juju-{{ identifier }}-public-api-service":{
                "loadBalancer":{
                    "servers":[
                        {
                            "url":"{{ public_svc }}"
                        }
                    ]
                }
            }
        }
    }
}
